.products {
  width: 100%;
  height: 100%;
  position: relative;
}

.products_wrapper {
  width: 100%;
  height: fit-content;
  /* padding: var(--padding-pages); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.wrapper-btn {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-pages);
  padding-top: 0;
}

.wrapper-btn button {
  width: 90%;
  height: 50px;
  background-color: rgba(106, 64, 41, 1);
  border: none;
  border-radius: 10px;
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.wrapper-pagination {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.wrapper-pagination button {
  width: 100px;
  height: 50px;
  font-family: var(--poppins);
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.wrapper-pagination p {
  margin: 0 20px;
  font-family: var(--poppins);
  font-weight: 900;
  font-size: 20px;
}

.wrapper-search {
  width: 100%;
  height: fit-content;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 90%;
  height: fit-content;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px;
}

.search input {
  width: 90%;
  border: none;
  font-family: var(--poppins);
  font-size: 16px;
  padding: 10px;
}

.search img {
  margin-right: 10px;
}

@media screen and (max-width: 640px) {
  .products_wrapper {
    padding: 50px 0;
    gap: 0;
  }

  .wrapper-btn {
    padding: 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 780px) {
  .products_wrapper {
    justify-content: space-around;
  }
}
